<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="todoCtrl">
<h2>My Memo</h2>
<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="new add">
    <input type="submit" value="newAdd">
</form>
<br>
<div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done"><span ng-bind="x.todoText"></span>
</div>
<p><button ng-click="remove()">Delete</button></p>
<script>
    var app=angular.module('myApp',[]);
    app.controller('todoCtrl',function($scope){
        $scope.todoList=[{todoText:'Clean House',done:false}];
        $scope.todoAdd=function(){
            $scope.todoList.push({todoText:$scope.todoInput,done:false});
            $scope.todoInput="";
        }
        $scope.remove=function(){
            var oldList=$scope.todoList;
            $scope.todoList=[];
            angular.forEach(oldList,function(x){
                if(!x.done) $scope.todoList.push(x);
            })
        }
    });
</script>
</body>
</html>